<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nowcoder.community.mapper.UserMapper">

    <insert id="insertUser">
        insert into user(username, password, salt, email, type, status, activation_code, avatar_url, create_time)
        values(#{username}, #{password}, #{salt}, #{email}, #{type}, #{status}, #{activationCode}, #{avatarUrl}, #{createTime})
    </insert>
</mapper>